@{
    ViewBag.Title = "Create New Roast Schedule";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h4>Click Below to Create New Roast Schedule</h4>
        <br/>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}