@using WebUI.Models
@model List<RoastScheduleViewModel>
@{
    ViewBag.Title = "Roast Planning";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@if (@Model.Count > 0)
{
    <h4>Your Roast Schedules:</h4>
    foreach (var roastSchedule in @Model)
    {
    <ul>
        <li>@($"RoastScheduleId: {@roastSchedule.RoastScheduleId}, RoastWeekStartsOn: {@roastSchedule.RoastWeekStartsOn.ToShortDateString()}")</li>
    </ul>
  }
}
