@{
    ViewBag.Title = "Roast Schedule";
}

<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Is Roast Day</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Monday</td>
                    <td>Y</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>